<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
   
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" >Matches</a>
        </li>
      </ul>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a  class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{Model.userName}}
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
      </div>
     
      <form  *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
        <input  class="form-control mr-sm-2" [(ngModel)]="Model.userName" type="text" placeholder="Username" name="userName">
        <input  class="form-control mr-sm-2" [(ngModel)]="Model.password" type="password" placeholder="Password" name="password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
</div>
  </nav>